#After installation of asterisk, it is necessary to verify the asterisk installation with;
asterisk -rvvvvv
